#CVButton {
  margin: 30px;
}

#project {
  margin-top: 20px;
  padding: 10px;
  border: solid 1px blue;
}
#project h3 {
  background-color: red;
}

#home-section {
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: left;
}
#home-section ul {
  list-style-type: none;
}
