/* @import "tailwindcss"; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: lightsteelblue;

  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

body {
  padding-top: 50px;
  padding-bottom: 30px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  margin-top: 15px;
  margin-bottom: 30px;
}

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  background-color: lightseagreen;
}
#nav-bar li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#nav-bar :hover {
  color: lime;
  background-color: #111;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  background-color: lightseagreen;
  /* border: solid blue; */
  padding: 14px 16px;
}
footer li {
  display: inline;
  padding: 3%;
}
footer :hover {
  color: lime;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: lime;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
